.stat-card {
    box-shadow: 0 0 1px 0 #9FA2B4;
    text-align: center;
    width: 225px;
}

.stat-card-title {
    color: #9FA2B4;
    font-weight: bold;
    padding-top: 10%;
    font-size: 20px;
}

.stat-card-data {
    font-size: 40px;
    font-weight: bold;
}