.form-cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
    height: 50vh;
    overflow-y: auto;
}

.forms-create-divider {
    border-top: 1px solid;
    color: #A4A6B3;
    opacity: 30%;
}

.new-form-container {
    margin-top: 30px;
}

.new-form-create-btn {
    border: none;
    border-radius: 8px;
    height: 20px;
    color: white;
    background-color: rgb(179, 103, 255);
}

.new-form-create-btn:hover {
    background-color: rgb(179, 103, 255, .7);
}