.landing-page {
    background-color: white;
}

.landing-page-bar {
    padding-top: 2%;
    padding-bottom: 1%;
    position: absolute;
    width: 100%;
    background-color: #363740;
}

.landing-logo-title-container {
    padding-left: 2.5%;
    display: flex;
    float: left;
}

.landing-logo {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.landing-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.landing-btn-container {
    padding-right: 2.5%;
    float: right;
}

.landing-btn {
    font-weight: bold;
    color:  white;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

.project-container {
    padding-top: 7.5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    color: #363740;
}

.landing-sub-section {
    margin-bottom: 50px;
}

.landing-sub-title {
    color: #9B51E0;
    font-size: 40px;
    font-weight: bold;
}

ol > li {
    margin-bottom: 0em;
}

iframe {
    border: 1px solid #9B51E0;
    border-radius: 10px;
}

.team-bios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}