.email-tmp-card {
    background-color: rgb(164, 166, 179, 0.2);
    border-radius: 10px;
    margin-bottom: 30px;
}

.email-tmp-card-name {
    font-size: 24px;
    margin-top: 15px;
    margin-left: 30px;
    float: left;
}

.email-tmp-card-value {
    font-size: 24px;
    color: #A4A6B3;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}

.email-tmp-card-btn {
    border: 0px;
    color: #9B51E0;
    font-size: 24px;
    margin-top: 15px;
    margin-right: 30px;
    float: right;
}