.sub-dashboard {
    margin-right: 5%;
}

.sub-dash-title {
    font-size: 40px;
    color: #9B51E0;
    font-weight: bold;
    position: absolute; 
    margin-top: 2.5%;
    left: 50%;
}

.sub-dash-sub-header {
    text-align: left;
}

.sub-dash-sub-title {
    display: inline-block;
    font-size: 28px;
}

.sub-dash-sub-number {
    display: inline-block;
    color: #A4A6B3;
    font-weight: bold;
    font-size: 28px;
    margin-left: 15px;
}

.sub-dash-line {
    margin-right: 75%;
    width: 30%;
    border-top: 2px solid;
    color: #60626E;
    margin-bottom: 30px;
}

.sub-dash-cards-400 {
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sub-dash-cards-700 {
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sub-summary {
    margin-top: 30px;
}