.tag {
    border: 1px solid #A4A6B3;
    border-radius: 10px;
    margin-right: 10px;
    height: 30px;
    display: flex;
    padding-left: 10px;
    background-color: white;
    align-items: flex-start;
}

.tag-name {
    padding-top: 5%;
}

.tag-add-btn {
    border: 1px solid #A4A6B3;
    height: 30px;
}

.tag-remove-btn {
    border: none;
}

.tag-remove-btn, .tag-add-btn {
    border-radius: 10px;
    padding-top: 5%;
    outline: none;
    background-color: white;
}