.teammate-img {
    width: 200px;
    margin-bottom: 15px;
}

.team-bio {
    width: 650px;
    display: flex;
    flex-direction: row;
    border: 1px solid #9B51E0;
    margin-bottom: 30px;
    border-radius: 10px;
}

.team-name-picture {
    padding-top: 15px;
    padding-left: 15px;
}

.bio {
    padding-top: 65px;
    margin-left: 20px;
    padding-right: 15px;
}