.App {
  text-align: center;
}
.title {
  color: #9B51E0;
  font-size: 48px;
  padding-top: 20%;
}

.profile-header {
  width: 80%;
  padding-top: 20px;
  float: right;
  padding-bottom: 20px;
}

.nav-bar {
  background-color: #363740;
  float: left;
  width: 20%;
  height: 100vh;
}

ul {
  text-align: left;
  margin-top: 25%;
  list-style-type: none;
}

li {
  margin-bottom: 40px;
}

.nav-link {
  margin-left: 20px;
  color: #A4A6B3;
  font-size: 16px;
  text-decoration: none;
}

.nav-link:active, .nav-link:hover {
  color: #DDE2FF;
}

.compose-email-btn-container {
  padding-right: 20%;
  margin-bottom: -15%;
}

.compose-email-btn {
  font-size: 16px;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: rgb(179, 103, 255, 0.7);
}

hr.solid {
  margin-top: 30px;
  border-top: 1px solid;
  color: #A4A6B3;
  opacity: 30%;
}